// @import "font/roboto.css";
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

@use "sass:color";

section.loaded { opacity: 1; transform: translate(0); }

@media screen {
  section:nth-of-type(2) {
    transition-delay: 0.2s;
  }

  section:nth-of-type(3) {
    transition-delay: 0.4s;
  }

  // Note: LESS source had duplicate nth-of-type(4); the effective delay was 0.8s.
  section:nth-of-type(4) {
    transition-delay: 0.8s;
  }
}

$accent: #FF9800;
// $accent: #E65100;

#general {
  border-bottom: solid 2px $accent;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: stretch;

  .pdf {
    position: absolute;
    z-index: 100;
    left: -10px;

    img {
      width: 46px;
    }
  }

  > section {
    order: 0;
    flex-grow: 1;

    #name {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 400;
    }

    #contacts {
      label {
        border-right: solid 1px $accent;
        padding-right: 5px;
        margin-right: 5px;
        width: 100px;
        display: inline-block;
        text-align: right;
      }
    }
  }

  #photo {
    order: 1;
    flex-grow: 0;

    img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        box-shadow: 10px 10px 30px #888;
    }
  }
}

.card {
  padding: 10px;
  padding-top: 5px;
  border-left: solid 1px $accent;
  margin-left: 40px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;

  b {
    font-weight: 400;
  }

  > .title {
    display: inline-block;
    font-family: monospace;
    color: $accent;
    font-size: 33px;
    position: absolute;
    left: 0;
    top: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.social section {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-left: -20px;

  border-bottom: dashed 1px $accent;

  img {
    height: 25px;
  }

  a:first-child {
    width: 60px;
    text-align: right;
    padding-right: 12px;
    padding-top: 5px;
  }

  a {
    font-size: 20px;
    order: 0;
    text-decoration: none;
    color: black;
  }
}

.card.social > .title { transform: rotate(-90deg) translate(-50px, -80px); }
.card.about > .title { transform: rotate(-90deg) translate(-100px, -140px); }
.card.experience > .title { transform: rotate(-90deg) translate(-130px, -175px); }
.card.education > .title { transform: rotate(-90deg) translate(-70px, -115px); }
.card.public > .title { transform: rotate(-90deg) translate(-50px, -140px) scale(0.6); }

.about {
  text-align: justify;

  p {
    margin-top: 0;
  }

  .skillset {
    padding-top: 10px;

    span.title {
      position: absolute;
      font-size: 40px;
      margin-left: -25px;
      margin-top: 40px;
      display: inline-block;
      transform: scale(0.6, 2.2);
    }

    span:not(.title) {
      padding-left: 80px;
      display: block;

      b {
        display: inline-block;
        width: 65px;
      }
    }
  }
}

.experience,
.education,
.public {
  position: relative;
  display: block;
  page-break-inside: avoid;
}

.experience section,
.education section,
.public section {
  display: block;
  margin-top: 5px;
  page-break-inside: avoid;
  position: relative;

  a {
    border-bottom: dashed 1px blue;
  }

  &:before {
    content: "";
    background-color: $accent;
    border: solid 1px $accent;
    // box-shadow: 2px 2px 10px #555;
    width: 16px;
    height: 16px;
    margin-left: -38.8px;
    // margin-left: -35px;
    margin-top: 15px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
  }

  padding-left: 20px;
  border-bottom: dashed 1px $accent;
  margin-bottom: 20px;

  span.time {
    color: color.adjust($accent, $lightness: -20%);
    margin-left: -42px;
    position: absolute;
    font-size: 32px;
    display: inline-block;
    transform: scaleX(0.5) scaleY(1) translateY(0px);

    sub {
      font-size: 24px;
      color: #888;
      position: relative;
      left: -30px;
      top: 12px;
      margin-left: -30px;
      display: inline-block;
      transform: scaleX(1.8) scaleY(0.7);
    }
  }

  span.time.y1 {
    margin-left: -20px;
  }

  span.company {
    font-size: 32px;
    margin-left: 100px;
  }

  span.y1 ~ span.company {
    margin-left: 50px;
  }

  span.title {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin-left: 100px;
    margin-top: 32px;
    color: #009688;
  }

  span.y1 ~ span.title {
    margin-left: 50px;
  }

  div.detail {
    margin-top: 20px;
    text-align: justify;
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media print {
  #main {
    display: block;
  }

  .pdf {
    display: none;
  }

  #general #photo  img {
    box-shadow: none;
    left: -20px;
    position: relative;
  } 


}

